*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  min-height: 100vh;
  background: #05000f;
  overflow-x: hidden;
}
#root {
  width: 100%;
  min-height: 100vh;
}